.ivu-layout{
  background: #f0faff !important;
}
.layout-header-bar.ivu-layout-header{
  color: #cbe2ec !important;
  background: #335292 !important;
}
.ivu-menu.ivu-menu-light.ivu-menu-vertical.menu-item{
  color: #cbe2ec !important;
  background: #335292 !important;
}
.router-link-active{
  color: #cbe2ec !important;
}
.ivu-menu.ivu-menu-light.ivu-menu-vertical.menu-item>a{
  color: #cbe2ec !important;
}
.el-switch__label.is-active{
  color: #cbe2ec !important;
}
.el-switch__label--right{
  color: #cbe2ec !important;
}
.ivu-input{
  border: 1px solid  #335292 !important;
  color: #335292 !important;
}
#app > div > div > div.ivu-layout > div:nth-child(2) > div.ivu-row.ivu-row-undefined-middle > div > div > div{
  background: #335292 !important;
  border-color: #335292 !important;
}
.ivu-divider-with-text-left{
  color: #335292 !important;
}
.ivu-divider-with-text-left:before{
  border-top:1px solid #335292 !important;
}
.ivu-divider-with-text-left:after{
  border-top:1px solid #335292 !important;
}
.ivu-carousel{
  border: 10px solid #305094!important;
  box-shadow: 0px 0px 55px #305094!important;
  color: #305094;
}
.ivu-card-bordered{
  box-shadow: 0px 0px 15px #305094!important;
}
.ivu-card-bordered:hover{
  box-shadow: 0px 0px 25px #7ba3c0 !important;
}
.ivu-collapse-simple{
  box-shadow: 0px 0px 15px #305094!important;
}
.ivu-collapse-simple:hover{
  box-shadow: 0px 0px 25px #8badc0 !important;;
}
.ivu-collapse>.ivu-collapse-item{
  box-shadow: 0px 2px 1px rgba(48, 80, 148, 0.58) !important;
  color: #335292 !important;
  border-top: 0px !important;
}
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
  color: #335292 !important;
}
.ivu-card-head>p{
  color: #305094 !important;
  font-weight: normal !important;
  fobt-size: 14px !important;
}
.ivu-card-body>p{
  color: #305094 !important;
  font-weight: normal !important;
  text-align: right !important;
  margin-right: 10px !important;
}
.ivu-btn-primary{
  background-color: #305094!important;
  border-color: #305094!important;
}
.ivu-btn-primary:hover{
  background-color: #72af6c !important;
  border-color: #72af6c !important;
}
.book-cover{
  border: 10px solid #305094!important;
  box-shadow: 0px 0px 15px #305094!important;
  color: #305094;
}
