.ivu-layout{
  background: linear-gradient(to right,#226597, #113f67) !important;
}
.ivu-layout-footer{
  background: linear-gradient(to right,#226597, #113f67) !important;
}
.el-switch.is-checked .el-switch__core{
  background: #226597!important;
}
.el-switch__label *{
  color: #fff;
}
.ivu-icon.ivu-icon-ios-search{
  color: #113f67;
}
.ivu-input-group .ivu-input{
  color: #15598e !important;
}
.ivu-layout-header{
  color: #ffffff !important;
  background: linear-gradient(to right, #113f67, #87c0cd) !important;
  /*box-shadow: 0px 3px 10px rgba(118, 130, 137, 0.59);*/
  width: 100%!important;
  position: fixed;
  min-width: 1200px;
}
.el-switch{
  color: #799ca6 !important;
}
.ivu-menu.ivu-menu-light.ivu-menu-vertical.menu-item{
  color: #ffffff !important;
  background: #eaeaea !important;
}
.ivu-menu-dark.ivu-menu-horizontal .ivu-menu-item, .ivu-menu-dark.ivu-menu-horizontal .ivu-menu-submenu{
  color: #ffffff !important;
  font-size: 20px!important;
}
.ivu-menu.ivu-menu-dark.ivu-menu-horizontal{
  color: #ffffff !important;
  background: rgba(234, 234, 234, 0) !important;
}
.router-link-active{
  color: #cbe2ec !important;
}
.ivu-menu.ivu-menu-light.ivu-menu-vertical.menu-item>a{
  color: #ffffff !important;
}
.el-switch__label.is-active{
  color: #ffffff !important;
}
.el-switch__label--right{
  color: #ffffff !important;
}
.el-switch.is-checked .el-switch__core{
  border-color: #ffffff !important;
  background-color: #ffffff;!important;
}
.ivu-input{
  color: #71a0a5 !important;
}
#app > div > div > div.ivu-layout > div:nth-child(2) > div.ivu-row.ivu-row-undefined-middle > div > div > div{
  background: #f3f9fb !important;
  border-color: #f3f9fb !important;
}
.ivu-divider-with-text-left{
  color: #f3f9fb !important;
}
.ivu-divider-with-text-left:before{
  border-top:1px solid #f3f9fb !important;
}
.ivu-divider-with-text-left:after{
  border-top:1px solid #f3f9fb !important;
}
.ivu-carousel{
  /*border: 10px solid #f3f9fb!important;*/
  box-shadow: 0px 0px 0px #f3f9fb!important;
  color: #f3f9fb;
}
#app > div > div > div.ivu-layout-content > div > div.ivu-row.ivu-row-undefined-middle > div > div > div{
  background: #a1bdcb !important;
  border-color:  #f3f9fb !important;
}
.ivu-card-bordered{
  /*box-shadow: 0px 0px 15px #f3f9fb!important;*/
}
.ivu-card-bordered:hover{
  transform: scale(1.01);
}
.ivu-collapse-simple{
}
.ivu-collapse-simple:hover{
}
.ivu-collapse>.ivu-collapse-item{
  /*box-shadow: 0px 2px 1px rgba(48, 80, 148, 0.58) !important;*/
  color: #71a0a5 !important;
  border-top: 0px !important;
}
.ivu-collapse>.ivu-collapse-item>.ivu-collapse-header{
  color: #71a0a5 !important;
}
.ivu-card-head>p{
  /*color: #f3f9fb !important;*/
  font-weight: normal !important;
  fobt-size: 14px !important;
}
.ivu-card-body>p{
  color: #6f91ae;
  font-weight: normal ;
  text-align: right ;
  margin-right: 10px ;
}
.ivu-card{
  border-radius: 0px!important;
}
.ivu-btn-primary{
  background-color: #226597!important;
  border-color: #113f67!important;
}
.ivu-btn-primary:hover{
  background-color: #6f91ae !important;
  border-color: #f3f9fb !important;
}
.book-cover{
  border: 10px solid #f3f9fb!important;
  box-shadow: 0px 0px 15px #f3f9fb!important;
  color: #f3f9fb;
}
.pic-wrap{
  height: 600px;
  width: 105%;
  background: rgba(0, 0, 0, 0.51);
  margin-top: -100px
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-tab-active{
  color: #113f67!important;
  height: 50px !important;
  font-size: 30px;
  border: 0px;
}
.ivu-tabs.ivu-tabs-card>.ivu-tabs-bar .ivu-tabs-nav-container{
  height: 50px!important;
}
.ivu-tabs-bar{
  margin-bottom: 0px!important;
  height: 50px!important;
}
.ivu-layout-footer{
  color: #dcf3ff !important;
}
.pic-wrap{
  height: 600px!important;
  width: 105%!important;
  background: rgba(56, 80, 83, 0.75) !important;
  margin-top: -100px!important;
}
.detail{
  padding: 50px;
  background: linear-gradient(#a5e1ec, rgb(255, 255, 255))!important;
}
.ivu-drawer-content{
  /*background: linear-gradient(#a5e1ec, rgb(255, 255, 255))!important;*/
}
.ivu-divider.ivu-divider-horizontal.ivu-divider-default{
  background: rgba(97, 147, 165, 0.35) !important;
}
.search-title{
  font-size: 50px!important;
  color: #a5e1ec!important;
}
.user-info{
  color: #a5e1ec!important;
}
.avator-big{
  border: solid 10px #71a0a5 !important;
}
.ivu-tooltip-inner{
  background: rgba(12, 42, 71, 0.56)!important;
}
.book-collect{
  background: #71a0a5 !important;
}
.cart-book{
  border: solid 5px #71a0a5 !important;
}
.ad-title{
   color: #a5e1ec;
 }
.ad-card{
  background: rgba(165, 225, 236, 0.58) !important;
}
.ad-card:hover{
  background: rgba(165, 225, 236, 0.73) !important;
}
